* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  --primary: #0c0c1d;
}
body {
  background-color: var(--primary);
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
